<!-- Se limita la vista para que no permita arrastar ni copiar texto -->
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <mat-sidenav #sidenav style="border: 0px solid red;" mode="side" class="sidenav" (keydown.escape)="close('na')" disableClose [opened]="x.matches ? false : true">
        <!-- Content nav lateral -->
        <mat-toolbar style="border: 0px solid red;">
            <div>
                <img src="assets/img/logo_sm.jpg" class='imgSmRedonda'>
            </div>
            <label style="padding-left: 6%;"><span style="color: #303F9F;">Superservicios - ODS</span></label>
        </mat-toolbar>
        <mat-selection-list #items [multiple]="false" style="border: 0px solid red;">
            <span *ngFor="let option of options">
                <span *ngIf="option.name === 'divider'">
                    <mat-divider></mat-divider>
                </span>
                <span *ngIf="option.name === 'subheader'">
                    <div mat-subheader>{{ option.header }}</div>
                </span>
                <span *ngIf="option.name !== 'divider' && option.name !== 'subheader'">
                    <mat-list-option [value]="option" (click)="openDialog(option)" [hidden]=option.hidden>
                        <mat-icon mat-list-icon>{{ option.icon }}</mat-icon>
                        <div class="row">
                            <div [class]="option.select ? 'col-4' : 'col-12'">
                                <span style="padding-left: 3%;">{{ option.name }}</span>
                            </div>
                            <div class="col-8" *ngIf="option.select" style="text-align: right;">
                                <div style="color: white; background: #f44336; border-radius: 15px; text-align: center; font-weight: 500; font-size: small; padding-left: 2%; padding-right: 2%;">
                                    <span>{{ option.select }}</span>
                                </div>
                            </div>
                        </div>
                    </mat-list-option>
                </span>
            </span>
        </mat-selection-list>
        <!-- <p>
        Option selected: {{items.selectedOptions.selected[0]?.value.name}}
        </p> -->
        <div class="footer-login">
            <span class="textoFooter">
              ::. . SUIEYG v2.1 ©&nbsp;2022 . .::
            </span>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <!-- icono de hamburguesa que permite la función del menu lateral -->
            <button  type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span *ngIf="empresa === 'OBJETIVOS DE DESARROLLO SOSTENIBLE'" style="padding-left: 1%;" [style]="{fontSize: x.matches ? 'small' : ''}">{{ empresa }}</span>
            <span *ngIf="empresa !== 'OBJETIVOS DE DESARROLLO SOSTENIBLE'" [style]="{fontSize: x.matches ? 'xx-small' : 'small'}" style="color: black; background: #ffe0b2; border-radius: 15px; text-align: center; font-weight: 500; font-size: small; padding-left: 2%; padding-right: 2%; margin-left: 1%;">{{ empresa }}</span>
            <span *ngIf="empresa !== 'OBJETIVOS DE DESARROLLO SOSTENIBLE' && usuariosConsumo" [style]="{fontSize: x.matches ? 'xx-small' : 'small'}" style="color: black; background: #f0f4c3; border-radius: 15px; text-align: center; font-weight: 500; font-size: small; padding-left: 2%; padding-right: 2%; margin-left: 1%;">{{ usuariosConsumo | uppercase }}</span>
            <span *ngIf="depto" [style]="{fontSize: x.matches ? 'xx-small' : 'small'}" style="color: black; background: #fff9c4; border-radius: 15px; text-align: center; font-weight: 500; font-size: small; padding-left: 2%; padding-right: 2%; margin-left: 1%;">{{ depto }}</span>
            <span *ngIf="mpio" [style]="{fontSize: x.matches ? 'xx-small' : 'small'}" style="color: black; background: #ffecb3; border-radius: 15px; text-align: center; font-weight: 500; font-size: small; padding-left: 2%; padding-right: 2%; margin-left: 1%;">{{ mpio }}</span>
            <span *ngIf="cpoblado" [style]="{fontSize: x.matches ? 'xx-small' : 'small'}" style="color: black; background: #c8e6c9; border-radius: 15px; text-align: center; font-weight: 500; font-size: small; padding-left: 2%; padding-right: 2%; margin-left: 1%;">{{ cpoblado }}</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>