@import '~igniteui-angular/lib/core/styles/themes/index';
$theme: igx-carousel-theme( $slide-background: #333);
:host ::ng-deep {
    @include igx-carousel($theme);
}

// Pantallas superiores a 800px (PC)
@media screen and (min-width: 800px) {
    .carousel-container {
        width: 100%;
        height: 90vh;
    }
    .textSlide {
        width: 100%;
        height: 100%;
        // border: 1px solid red;
        position: absolute;
        color: white;
        text-align: center;
        padding-top: 67%;
        background-color: rgba(0, 0, 0, 0.356); // Cambiar posición del texto
    }
    .text1 {
        font-size: larger;
    }
}

// Pantallas inferiores a 800px (mobile)
@media screen and (max-width: 800px) {
    .carousel-container {
        width: 100%;
        height: 22em;
    }
    .textSlide {
        width: 100%;
        height: 100%;
        // border: 1px solid red;
        position: absolute;
        color: white;
        text-align: center;
        padding-top: 16.5em;
        background-color: rgba(0, 0, 0, 0.356);
    }
    .text1 {
        font-size: small;
        font-weight: bold;
    }
    .text2 {
        font-size: smaller;
        font-weight: bold;
    }
}

.image-container {
    width: 100%;
    height: 100%;
}

.grilla {
    background: lightblue;
    font-size: large;
}

.example-card {
    max-width: 400px;
}

.example-header-diego {
    background-image: url('../../../assets/img/diego_ossa.jpg');
    background-size: cover;
    width: 7em;
    height: 7em;
}

.example-header-angela {
    background-image: url('../../../assets/img/angela.jpg');
    background-size: cover;
    width: 7em;
    height: 7em;
}

.example-header-madia {
    background-image: url('../../../assets/img/madia.jpg');
    background-size: cover;
    width: 7em;
    height: 7em;
}

.example-header-luzmery {
    background-image: url('../../../assets/img/luzmery.jpg');
    background-size: cover;
    width: 7em;
    height: 7em;
}

.example-header-image1 {
    background-image: url('../../../assets/img/danilin.jpg');
    background-size: cover;
    width: 7em;
    height: 7em;
}

.example-header-image2 {
    background-image: url('../../../assets/img/emiro.jpg');
    background-size: cover;
    width: 7em;
    height: 7em;
}

.example-header-image3 {
    background-image: url('../../../assets/img/juank1.jpg');
    background-size: cover;
    width: 7em;
    height: 7em;
}