<div class="carousel-container">
    <igx-carousel #carousel animationType="fade" [interval]="2000" [gesturesSupport]="true">
        <igx-slide *ngFor="let slide of slides;">
            <div class="textSlide">
                <span class="text1">{{slide.description}}</span><br>
                <span class="text2">{{slide.heading}}</span>
            </div>
            <div class="image-container">
                <img [src]="slide.image">
            </div>
        </igx-slide>

        <ng-template igxCarouselNextButton let-disabled>
            <button style="background-color: rgba(0, 0, 0, 0.356);" igxButton="icon" igxRipple="white" [disabled]="disabled">
                <igx-icon style="color: white;" fontSet="material">keyboard_arrow_right</igx-icon>
            </button>
        </ng-template>

        <ng-template igxCarouselPrevButton let-disabled>
            <button style="background-color: rgba(0, 0, 0, 0.356);" igxButton="icon" igxRipple="white" [disabled]="disabled">
                <igx-icon style="color: white;" fontSet="material">keyboard_arrow_left</igx-icon>
            </button>
        </ng-template>
    </igx-carousel>
</div>
<div style="border: 0px solid red; background-color: white; padding-top: 12%; padding-left: 12%; padding-right: 12%; text-align: center;">
    <section class="mat-typography">
        <h1 style="font-size: 2em;">¿QUIÉNES SOMOS?</h1>
    </section>
    <br>
    <mat-divider></mat-divider>
    <br><br>
    <p style="text-align: justify;">
        El CIAD es un grupo de ingenieros creado para apoyar a la Superintendencia Delegada de Energía y Gas Combustible con el objetivo de cumplir la sostenibilidad y transformación de los servicios públicos en Colombia, usando tecnologías de vanguardia y siendo
        soporte para su planeación, regulación y desarrollo; con ello logramos la articulación de los diferentes actores institucionales, posicionando a los usuarios como eje central de los servicios de Energía y Gas Combustible.
    </p>
    <br><br>
    <mat-divider></mat-divider>
    <br><br><br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="100%" style="padding-left: 1em; padding-right: 1em; padding-bottom: 5%;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-diego"></div>
                    <mat-card-title style="padding-top: 1em;">Diego</mat-card-title>
                    <mat-card-subtitle>Ossa</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-align: center; padding-top: 1em;">
                        Superintendente Delegado Energía y Gas
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100%" style="padding-left: 1em; padding-right: 1em; padding-bottom: 5%;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-angela"></div>
                    <mat-card-title style="padding-top: 1em;">Angela</mat-card-title>
                    <mat-card-subtitle>Sarmiento</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-align: center; padding-top: 1em;">
                        Directora técnica de gestión de energía
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100%" style="padding-left: 1em; padding-right: 1em; padding-bottom: 5%;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-madia"></div>
                    <mat-card-title style="padding-top: 1em;">Madia</mat-card-title>
                    <mat-card-subtitle>Ortega</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-align: center; padding-top: 1em;">
                        Directora de investigaciones
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100%" style="padding-left: 1em; padding-right: 1em; padding-bottom: 5%;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-luzmery"></div>
                    <mat-card-title style="padding-top: 1em;">Luz Mery</mat-card-title>
                    <mat-card-subtitle>Triana</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-align: center; padding-top: 1em;">
                        Directora técnica de gestión de gas
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br><br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="100%" style="padding-left: 1em; padding-right: 1em; padding-bottom: 10%;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image1"></div>
                    <mat-card-title style="padding-top: 1em;">Danilo</mat-card-title>
                    <mat-card-subtitle>Gil Sierra</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-align: justify; padding-top: 1em;">
                        Ingeniero de sistemas. Certificado como analista forense y con más de tres años de experiencia en el sector publico y privado relacionado con temas de adquisición, procesamiento y análisis de diferentes tipos de datos y evidencias digitales (e-Discovery).
                        Asimismo, ha desarrollado proyectos relacionados con políticas de privacidad y protección de datos personales.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: right;">
                    <!-- <a href="https://www.linkedin.com/in/juan-camilo-herrera-ardila-977494125/" target="_blank">
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">favorite</mat-icon>&nbsp;&nbsp;Me gusta</button>
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">favorite</mat-icon></button>
                    </a>&nbsp; -->
                    <a href="https://www.linkedin.com/in/juan-camilo-herrera-ardila-977494125/">
                        <!-- <button mat-raised-button><mat-icon aria-label="Side nav toggle icon">share</mat-icon>&nbsp;&nbsp;Compartir</button> -->
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">share</mat-icon></button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="100%" style="padding-left: 1em; padding-right: 1em; padding-bottom: 10%;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image2"></div>
                    <mat-card-title style="padding-top: 1em;">Jorge Emiro</mat-card-title>
                    <mat-card-subtitle>López Amaya</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-align: justify; padding-top: 1em;">
                        Ingeniero de Sistemas, Especialista en Informática y Automática Industrial y con Magister en Administración y Dirección de Empresas. Cuenta con más de once años de experiencia como asesor en tecnologías de la información, especialmente en áreas de analítica
                        y optimización organizacional. y enviarme junto con el perfil dos fotografías lo más ejecutivo posible, para ponerlas en una presentación.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: right;">
                    <!-- <a href="https://www.linkedin.com/in/juan-camilo-herrera-ardila-977494125/" target="_blank">
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">favorite</mat-icon>&nbsp;&nbsp;Me gusta</button>
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">favorite</mat-icon></button>
                    </a>&nbsp; -->
                    <a href="https://www.linkedin.com/in/juan-camilo-herrera-ardila-977494125/">
                        <!-- <button mat-raised-button><mat-icon aria-label="Side nav toggle icon">share</mat-icon>&nbsp;&nbsp;Compartir</button> -->
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">share</mat-icon></button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="100%" style="padding-left: 1em; padding-right: 1em; padding-bottom: 10%;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image3"></div>
                    <mat-card-title style="padding-top: 1em;">Juan Camilo</mat-card-title>
                    <mat-card-subtitle>Herrera Ardila</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-align: justify; padding-top: 1em;">
                        Ingeniero de Sistemas y Tecnólogo en Análisis y Desarrollo de Sistemas de Información con especialización tecnológica en desarrollo de aplicaciones para dispositivos móviles. Cuenta con más de 5 años de experiencia en el desarrollo de software y destreza
                        en diferentes tipos de lenguajes de programación con gran manejo de bases de datos, con conocimientos en soporte técnico.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: right;">
                    <!-- <a href="https://www.linkedin.com/in/juan-camilo-herrera-ardila-977494125/" target="_blank">
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">favorite</mat-icon>&nbsp;&nbsp;Me gusta</button>
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">favorite</mat-icon></button>
                    </a>&nbsp; -->
                    <a href="https://www.linkedin.com/in/juan-camilo-herrera-ardila-977494125/">
                        <!-- <button mat-raised-button><mat-icon aria-label="Side nav toggle icon">share</mat-icon>&nbsp;&nbsp;Compartir</button> -->
                        <button mat-raised-button><mat-icon aria-label="Side nav toggle icon" target="_blank">share</mat-icon></button>
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<!-- <mat-divider></mat-divider> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="100%">
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile class="grilla"><b>MISIÓN</b></mat-grid-tile>
        </mat-grid-list>
    </div>
    <div fxFlex="100%">
        <P style="text-align: justify; padding: 12%;">
            Promovemos y protegemos los derechos y deberes de los usuarios y prestadores de los servicios públicos domiciliarios y la prestación de estos servicios esenciales de manera sostenible y con calidad, con el fin de contribuir al mejoramiento de la calidad
            de vida de los colombianos, a la competitividad del sector y al desarrollo económico y social del país.
        </P>
    </div>
</div>
<div style="margin-top: -3.5%; height: 22.5em; border: 0px solid red;" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="100%">
        <P style="text-align: justify; padding: 12%;">
            Aportar4 a la sostenibilidad y transformación de los servicios públicos en Colombia, usando técnicas de vanguardia y siendo soporte para su planeación, regulación y desarrollo, con ello logramos la articulación de los diferentes actores institucionales,
            posicionando a los usuarios como eje central de los servicios.
        </P>
    </div>
    <div fxFlex="100%">
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile class="grilla"><b>VISIÓN</b></mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div style="background-color: white; bottom: 0%; height: 15%; display: flex; justify-content: center; align-items: center; padding-top: 1.5%; padding-bottom: 2%;">
    <span>SDEGC | CIAD - SUPERSERVICIOS ©&nbsp;2020</span>
</div>