<div class="example-container" [class.mat-elevation-z2]="0.1" [class.mat-elevation-z8]="0.1">
    <mat-toolbar color="primary" style="height: 5em;">
        <mat-toolbar-row style="padding-top: 3em;">
            <span>Configuración</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="container-fluid" style="padding-top: 2.5em; padding-bottom: 1em; border: 0px solid red;">
    <form [formGroup]="optionsMap" (ngSubmit)="sendDataParent()">
        <!-- <div class="d-none d-sm-none d-md-block">Este texto solo visible para escritorio</div>
        <div class="d-block d-sm-block d-md-none">Este texto solo visible para smartphone</div> -->
        <div class="row" style="border: 0px solid red; text-align: center;">
            <div class="col-6" style="border: 0px solid blue;">
                <mat-form-field>
                    <mat-label>Año</mat-label>
                    <mat-select required [(ngModel)]="selectAnio" formControlName="anio" (selectionChange)="somethingChanged(selectAnio)">
                        <mat-option *ngFor="let anio of suiAnios" [value]="anio.anio">
                            {{anio.anio}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="text-danger" *ngIf="optionsMap.get('anio').touched && optionsMap.get('anio').hasError('required')">* Obligatorio</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-6" style="border: 0px solid blue;">
                <mat-form-field>
                    <mat-label>Mes</mat-label>
                    <input required matInput [value]="startDate" [matDatepicker]="dp" formControlName="mes" readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #dp [disabled]="optionsMap.get('anio').hasError('required')" startView="year" [startAt]="startDate" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)">
                    </mat-datepicker>
                    <mat-hint class="text-danger" *ngIf="optionsMap.get('mes').touched && optionsMap.get('mes').hasError('required') && dp.disabled">* Seleccione un año</mat-hint>
                    <mat-hint class="text-danger" *ngIf="(optionsMap.get('mes').touched && optionsMap.get('mes').hasError('required') && !dp.disabled)">* Obligatorio</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6" style="border: 0px solid blue;">
                <mat-form-field>
                    <mat-label>Empresa</mat-label>
                    <input required matInput placeholder="Empresa" [(ngModel)]="selectEmpresa" aria-label="Empresa" [matAutocomplete]="auto" formControlName="empresa">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let empresa of filteredEmpresas | async" [value]="empresa.nombre">
                            <small>{{empresa.nombre}}</small>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint class="text-danger" *ngIf="optionsMap.get('empresa').touched && optionsMap.get('empresa').hasError('required')">* Obligatorio</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6" style="border: 0px solid blue;">
                <mat-form-field>
                    <mat-label>Causas</mat-label>
                    <mat-select required [(ngModel)]="selectCausa" formControlName="causa">
                        <mat-option *ngFor="let causa of suiCausas" [value]="causa.cod_causa">
                            {{causa.descripcion}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="text-danger" *ngIf="optionsMap.get('causa').touched && optionsMap.get('causa').hasError('required')">* Obligatorio</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <button type="submit" mat-fab color="accent" class="sticky-top fix-bottom" [disabled]="!optionsMap.valid">
            <mat-icon aria-label="Side nav toggle icon">check</mat-icon>
        </button>
    </form>
</div>